# Editor関連
.vscode

# OS関連
Thumbs.db
ehthumbs.db
Desktop.ini

# Node.js関連
backend/node_modules
frontend/node_modules

# ビルド
backend/dist

#Docker関連
docker-compose.yml
# .dockerignore
# ./backend/Dockerfile
# ./frontend/Dockerfile

企画書.md
*.log