# Editor関連
.vscode

# OS関連
Thumbs.db
ehthumbs.db
Desktop.ini
.env

# Node.js関連
backend/node_modules
frontend/node_modules


#Docker関連
# .dockerignore
docker-entrypoint-initdb.d/001_setup.sql

TODO.md
*.log
